<div>
  <h2 class="text-lg text-center">Top 4 Rating History</h2>
  <canvas id="myChart"></canvas>
</div>

<script>
    const ctx = document.getElementById("myChart");

    new Chart(ctx, {
      "type": "line",
      "data": {
          "labels": {{ labels | safe }},
          "datasets": [
              {
                  "label": "{{ name_1 }}",
                  "data": {{ data_1 | safe }},
                  "borderColor": "rgb(0, 181, 255)",
                  "spanGaps": true,
              },
              {
                  "label": "{{ name_2 }}",
                  "data": {{ data_2 | safe }},
                  "borderColor": "rgb(255, 88, 97)",
                  "spanGaps": true,
              },
              {
                "label": "{{ name_3 }}",
                "data": {{ data_3 | safe }},
                "borderColor": "rgba(255, 190, 0)",
                "spanGaps": true,
            },
            {
                "label": "{{ name_4 }}",
                "data": {{ data_4 | safe }},
                "borderColor": "rgba(0, 169, 110)",
                "spanGaps": true,
            }
          ],
      },
      "options": {
          "scales": {
              "xAxes": [
                  {
                      "type": "time",
                      "time": {
                          "unit": "day",
                          "displayFormats": {
                              "day": "MMM D",
                          },
                      },
                      "scaleLabel": {
                          "display": true,
                          "labelString": "Date",
                      },
                  }
              ],
              "yAxes": [
                  {
                      "scaleLabel": {
                          "display": true,
                          "labelString": "Power Rating",
                      },
                  }
              ],
          },
          "legend": {
              "display": true,
          },
      },
  }
  );
</script>
