<div>
  <h2 class="text-lg">Comparison Chart</h2>
  <canvas id="myChart"></canvas>
</div>

<script>
    const ctx = document.getElementById("myChart");

    new Chart(ctx, {
      "type": "line",
      "data": {
          "labels": {{ labels | safe }},  // Replace with actual dates
          "datasets": [
              {
                  "label": "{{ name_1 }}",
                  "data": {{ data_1 | safe }},  // Replace with actual Elo ratings
                  "borderColor": "rgba(255, 190, 0)",
                  "backgroundColor": "rgba(255, 190, 0, 0.2)",
                  "fill": true,
              },
              {
                  "label": "{{ name_2 }}",
                  "data": {{ data_2 | safe }},  // Replace with actual Elo ratings
                  "borderColor": "rgba(0, 169, 110)",
                  "backgroundColor": "rgba(0, 169, 110, 0.2)",
                  "fill": true,
              }
          ],
      },
      "options": {
        plugins: {
            title: {
                display: true,
                text: '{{ title }}'
            }
        },
          "scales": {
              "xAxes": [
                  {
                      "type": "time",
                      "time": {
                          "unit": "day",
                          "displayFormats": {
                              "day": "MMM D",
                          },
                      },
                      "scaleLabel": {
                          "display": true,
                          "labelString": "Date",
                      },
                  }
              ],
              "yAxes": [
                  {
                      "scaleLabel": {
                          "display": true,
                          "labelString": "Glicko Rating",
                      },
                  }
              ],
          },
          "legend": {
              "display": true,
          },
      },
  }
  );
</script>
