{% extends 'base.html' %} {% load static %} {% block content %}
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
    <div class="card bg-base-100 shadow-xl" hx-get="{% url 'ranking' %}" hx-trigger="load" id="ranking-box"></div>
    <div class="card bg-base-100 shadow-xl" hx-get="{% url 'predictions' %}" hx-trigger="load" id="predictions-box"></div>
    <div class="card col-span-2 bg-base-100 shadow-xl p-4" hx-get="{% url 'chart' %}" hx-trigger="load" id="chart-box"></div>
  </div>
{% endblock %}
